body {
	font-family: arial;
	background-color: #eee;
	background-image: url("../Images/woodBackground.png");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#symbol{
	width: 80%;
	height: auto;
	position:absolute;
	top:0px;
	right:0px;
}

#signs{
	position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

