body {
	font-family: arial;
	background-color: #eee;
	background-image: url("../Images/woodBackgroundWithPaper.png");
	background-repeat: repeat;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background-size: cover;
	background-attachment: fixed;
}

#header {
	text-align: center;
}

#symbol {
	width: 50%;
	height: auto;
	margin: auto;
}

#signs {
	width: 40%;
	height: auto;
	margin:auto;
	text-align: right;
}

table {
	margin: 0 auto;
}

textarea {
	height: 100px;
	width: 300px;
}

#bar{
	width: 80%;
	height: auto;
	margin: auto;
	text-align: left;
}
