body {
	font-family: arial, sans-serif;
	background-color: #eee;
	background-repeat: repeat;
	margin: auto;
	width: 80%;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	background-image: url("../Images/paperBackground.png");
}

.intro {
	font-size: 20px;
	text-align: center;
	margin: auto;
}

.summary{
	font-size: 20px;
	text-align: center;
	margin: auto;
}

h3 + p{
	font-size: 20px;
}

img{
	padding: 2px;
}

#header {
	text-align: center;
}

#signs {
	width: 80%;
	height: auto;
	margin: auto;
}

textarea {
	height: auto;
	width: 100%;
}

#bar{
	width: 80%;
	height: auto;
	margin: auto;
	text-align: left;
}

.title{
	font-weight: bold;
}

#footer {
	font-style: italic;
	background: rgba( 116,56,98,0.2);
	color: white;
	width: 80%;
	margin: auto;
	bottom:0;
}
